<div class="row track" *ngIf="trackObj">
    <div class="track card">
        <div class="wrapper" [ngStyle]="getBackgroundImage()">
            <div class="data">
                <div class="content">
                    <ul class="author">
                        <li *ngFor="let artist of trackObj.artists">
                            <a href="{{ artist.external_urls.spotify }}" class="regular-link"> {{ artist.name }}</a>
                        </li>
                    </ul>
                    <h1 class="title">
                        <a href="{{ trackObj.external_urls.spotify }}">{{ trackObj.name }}</a>
                    </h1>
                    <p class="text">
                        Album:  <a href="{{ trackObj.album.external_urls.spotify }}" class="regular-link"> {{ trackObj.album.name }}</a>
                    </p>
                    <p class="text">
                        Explicit: {{ trackObj.explicit ? "yes" : "no" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
