/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@font-face {
  font-family: montserrat;
  src: url('./assets/fonts/Montserrat-Regular.woff');
}

body {
  background-color: #324B4E;
}
