/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@font-face {
  font-family: montserrat;
  src: url('./assets/fonts/Montserrat-Regular.woff');
}

body {
    background: linear-gradient(77deg, #ffc867, #f037a6, #324B4E);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed
}



@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('./assets/fonts/CircularStd-Book.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book Italic'), url('./assets/fonts/CircularStd-BookItalic.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('./assets/fonts/CircularStd-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium Italic'), url('./assets/fonts/CircularStd-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('./assets/fonts/CircularStd-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold Italic'), url('./assets/fonts/CircularStd-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black'), url('./assets/fonts/CircularStd-Black.woff') format('woff');
}


@font-face {
    font-family: 'Circular Std Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black Italic'), url('./assets/fonts/CircularStd-BlackItalic.woff') format('woff');
}

@media (min-width: 50em) {
    .app {
        text-align: justify;
        /*background-image: url('./assets/images/female-headphones-red.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;*/
        margin-top: 0;
    }
}
