.items {
	font-family: 'montserrat';
	color: #FCFCD4;
}

.h2, .h3 {
	margin: 0 auto;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: red !important;
}

.items-table {
  border: 1px red;
  border-radius: 15px 15px 15px 15px;
  margin: 20px 0;
}

.items-body {
  margin-top: 40px;
}
