<div class="row artist" *ngIf="artistObj">
    <div class="artist card">
        <div class="wrapper" [ngStyle]="getBackgroundImage()">
            <div class="data">
                <div class="content">
                    <span class="author">Artist</span>
                    <h1 class="title"><a href="{{ artistObj.external_urls.spotify }}">{{ artistObj.name }}</a></h1>
                    <p class="text">Followers: <a href="{{ artistObj.followers.href }}" class="regular-link"> {{ artistObj.followers.total }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
