.header {
    text-align: center;
    margin: 15px auto;
    margin-bottom: 100px;
    cursor: pointer;
}

.spotify-font {
    font-family: 'montserrat';
    color: #003B4F;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #003B4F;
}

    a:visited {
        text-decoration: none;
        color: #003B4F;
    }
