<div class="container">
    <div class="row">
        <div class="intro">
            <div class="text-center">
                <h1>Welcome to MySpotify!</h1>
                <p>MySpofity is a service that lets you see some insights over your tracks/artists that you listen on  Spotify</p>
                <p>
                    MySpofity requires you to login with your Spotify account, but don't worry, we don't store anything related to your account. Each request to our application is unique, and all information is processed on the fly and displayed on this page.
                </p>
                <p>
                    You shouldn't worry for the safeness of your account, since we only ask read-only permision of your tracks and artists, all your personal information tied with Spotify is hidden and it will remain hidden from us, or other third party that might listen to the requests.
                </p>
                <p>
                    To continue using this application, please connecti with your Spotify. Enjoy!
                </p>
                <p><a routerLink="/spotify-authorize" class="btn btn-primary btn-outline btn-md">Connect with Spotify</a></p>
            </div>
        </div>
    </div>
</div>
